// VARIABLES

// Colors
@color-red: #b06666;
@color-orange: #b08d66;
@color-yellow: #a9b066;
@color-green: #8caa88;
@color-blue: #34607c;
@color-black: #0d0d0d;
@color-gray: #b3b3b3;
@color-white: #ffffff;
@color-dates: #0d0d0d;
@color-links: #900605;

// Text
@font-header: 'PT Sans', 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
@font-sans: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
@font-serif: 'PT Serif', Georgia, 'Times New Roman', Times, serif;


// NAVBAR

.navbar {
	width:100%;
	height:106px;
	margin-bottom: 0;
	padding-left: 0;
	list-style: none;
	display:block;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
}
	.navbar-content-container {
		padding: 18px 10px 0 10px;
		margin: 0;
	}
		.nav-toggle-left {
			float: left;
		}
			img.img-toggle-icon {
				width: 8px;
				height: 8px;
				margin-right: 2px;
			}
			p.nav-toggle-text {
				font-family: @font-header;
				font-weight: 100;
				letter-spacing: 2px;
				&.red {color: @color-red;}
				&.orange {color: @color-orange;}
				&.yellow {color: @color-yellow;}
				&.gray {color: @color-gray;}
			}
		.nav-toggle-right {
			float: right;
		}
		img.logo {
			width: 184px;
			height: 54px;
			margin: 0 auto;
		}
		
// INFOPANEL
		
.infopanel {
	width: 200px;
	height: 100%;
	display:block;
	position: fixed;
	top: 0;
	left: -200px;
	border-right: 1px solid @color-gray;
}
	.infopanel-content-container {
		margin: auto 20px;
		vertical-align: center;
		font-family: @font-sans;
	}
		.infopanel-text {
			font-weight: 200;
			color: @color-black;
			line-height: 20px;
			font-size: 14px;
			&.bold {font-weight: 800;}
			&.italic {font-style: italic;}
			&.link {color: @color-links;}
		}

.maincontent {
	overflow-x: scroll;
	width: inherit;
	height: 100%;
}
	.background {
		width: 100%;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		height: 100%;
	}
		.background-top {
			height: 50%;
			width: 100%;
			background: url("img/background-top.jpg") #f1f1f1 center fixed;
			margin: 0px;
		}
		.background-bottom {
			height: 50%;
			width: 100%;
			background: url("img/background-top.jpg") #f1f1f1 center fixed;
			margin: 0px;
		}
	.media-container-top div {
		vertical-align: bottom;
	}
	.media-container-bottom div {
		vertical-align: top;
	}
		.month-list-width div {
			float: left;
			width: 40px;
			height: 100%;
			margin: 0;
			padding: 0;
			overflow-y: scroll;
			display: table;
			&.top {vertical-align: bottom;}
			&.bottom {vertical-align: top;}
		}
			img.media-thumbnail {
				display: table-cell;
				margin: 2px 4px;
				width: 32px;
				height: 32px;
				border-radius: 16px;
				&.border-movie{border: 1px solid @color-red;}
				&.border-television{border: 1px solid @color-orange;}
				&.border-videogame{border: 1px solid @color-yellow;}
			}
				
//	TIMELINE div
//		TOP-DATES div {
//			width: inherit;
//		}
//		BOTTOM-DATES div {
//			width: inherit;
//		}
//			MONTH-WIDTH div
//				TIMELINE-MONTH-TEXT
//				TIMELINE-YEAR-TEXT
//		TOP-EVENTS div {
//			width: inherit;
//		}
//		BOTTOM-EVENTS div {
//			width: inherit;
//		}
//			FIXED-TITLE div {
//				width: 100%;
//			}
//			MONTH-WIDTH div
//				EVENTS-POPOVER
//				EVENTS-ICON
//
//MODAL div
//	MODAL-DIALOG div
//		MODAL-CONTENT div
//			MODAL-MEDIA-THUMBNAIL img
//			MEDIA-TITLES text
//			MEDIA-VALUES text
//			MODAL.HR
			
			
// bckgrnd: linear-grad 180deg, red, white 