.navbar {
  width: 100%;
  height: 106px;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}
.navbar-content-container {
  padding: 18px 10px 0 10px;
  margin: 0;
}
.nav-toggle-left {
  float: left;
}
img.img-toggle-icon {
  width: 8px;
  height: 8px;
  margin-right: 2px;
}
p.nav-toggle-text {
  font-family: 'PT Sans', 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 100;
  letter-spacing: 2px;
}
p.nav-toggle-text.red {
  color: #b06666;
}
p.nav-toggle-text.orange {
  color: #b08d66;
}
p.nav-toggle-text.yellow {
  color: #a9b066;
}
p.nav-toggle-text.gray {
  color: #b3b3b3;
}
.nav-toggle-right {
  float: right;
}
img.logo {
  width: 184px;
  height: 54px;
  margin: 0 auto;
}
.infopanel {
  width: 200px;
  height: 100%;
  display: block;
  position: fixed;
  top: 0;
  left: -200px;
  border-right: 1px solid #b3b3b3;
}
.infopanel-content-container {
  margin: auto 20px;
  vertical-align: center;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.infopanel-text {
  font-weight: 200;
  color: #0d0d0d;
  line-height: 20px;
  font-size: 14px;
}
.infopanel-text.bold {
  font-weight: 800;
}
.infopanel-text.italic {
  font-style: italic;
}
.infopanel-text.link {
  color: #900605;
}
.maincontent {
  overflow-x: scroll;
  width: inherit;
  height: 100%;
}
.background {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
}
.background-top {
  height: 50%;
  width: 100%;
  background: url("img/background-top.jpg") #f1f1f1 center fixed;
  margin: 0px;
}
.background-bottom {
  height: 50%;
  width: 100%;
  background: url("img/background-top.jpg") #f1f1f1 center fixed;
  margin: 0px;
}
.media-container-top div {
  vertical-align: bottom;
}
.media-container-bottom div {
  vertical-align: top;
}
.month-list-width div {
  float: left;
  width: 40px;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  display: table;
}
.month-list-width div.top {
  vertical-align: bottom;
}
.month-list-width div.bottom {
  vertical-align: top;
}
img.media-thumbnail {
  display: table-cell;
  margin: 2px 4px;
  width: 32px;
  height: 32px;
  border-radius: 16px;
}
img.media-thumbnail.border-movie {
  border: 1px solid #b06666;
}
img.media-thumbnail.border-television {
  border: 1px solid #b08d66;
}
img.media-thumbnail.border-videogame {
  border: 1px solid #a9b066;
}
