<a id="{{uniqueId}}-popover" type="button" data-container="body" data-toggle="popover" title="{{media.title}} {{media.episodechapter}}" data-content=" >>">
	<img src="img/thumb-{{media.medium}}.png">
</a>
<br>
